body{
    background: radial-gradient(ellipse  at 45%  40%, rgb(46,147,199) 0%, rgba(59,170,215,0.26) 30%, rgba(53,112,200,0.64) 45%, transparent 100%) 30% 75%/160% 200%,
    radial-gradient(ellipse  at 50%  80%, rgb(26,196,199) 0%, rgb(57,94,224) 25%, rgb(81,215,210) 65%, rgb(67,206,162) 80%, rgb(92,145,216) 100%) 95% 80%/195% 140%;  
    background-repeat: no-repeat;
    margin: 0;
            overflow: hidden; /* Отключает прокрутку */
            height: 100vh; /* Задает высоту в 100% от видимой области */
            width: 100vw; /* Задает ширину в 100% от видимой области */
            display: flex;
            justify-content: space-evenly; /* Центрирует содержимое по горизонтали */
            align-items: center; /* Центрирует содержимое по вертикали */
            background-color: #f0f0f0; /* Задайте цвет фона по желанию */
            flex-direction: column;
}          
p{
    text-align: center;
}
.slideshow-container {
    width: 100%;
    overflow: hidden;
    touch-action: pan-y;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide {
    border-radius: 100px;
    display: none;
    width: 90%;
    height: 80px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 24px;
    
}

.slide:nth-child(odd) {
    background-color: #0a0b0b62; 
}

.slide:nth-child(even) {
    background-color: #0a0b0b62; 
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
}

.active {
    background-color: #333; /* Цвет активного индикатора */
}
